body{
    width: 900px;
    margin: 0px auto;
}
.header{
    height: 60px;
    background: gainsboro;
}
.header .nav-item{
    line-height: 60px;
    display: block;
    float: left;
    margin-left: 10px;
}